<footer id="footer" class="footer">
    <div class="footer__content footer__tops">
        <div class="footer__inner">
            <div class="footer__tops-left">
                <div class="footer__logo logo">logo</div>
            </div>
            <div class="footer__tops-right">
                right
            </div>
        </div>
    </div>
    <div class="footer__content footer__bottom">
        <div class="footer__inner">
            <div class="footer__copyright">
                © 2019 All right reserved. </div>
        </div>
    </div>
</footer>