<div class="popup-fader"></div>
<div class="popup-container" id="popup-conditions">
    <div class="popup">
        <div class="popup__inner">
            <div class="popup__text">
                <h2>Правила проведения Акции</h2>
                <h3>1. СВЕДЕНИЯ ОБ ОРГАНИЗАТОРЕ</h3>
                <ul>
                    <li><span>1.1.</span> Условие 1</li>
                    <li><span>1.2.</span> Условие 2 </li>
                    
                </ul>
               
            
            </div>
        </div>
    </div>
    <div class="popup__close"></div>
</div>