 .prevArrow {
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='24' viewBox='0 0 15 24'%3E%3Cg fill='%23FFF' fill-rule='nonzero'%3E%3Cpath d='M1.405 10.812L11.965.492a1.748 1.748 0 0 1 2.433 0c.671.657.671 1.721 0 2.377L5.054 12l9.344 9.13c.671.657.671 1.721 0 2.378a1.748 1.748 0 0 1-2.433 0l-10.56-10.32a1.656 1.656 0 0 1 0-2.376z'/%3E%3Cpath d='M1.405 10.812L11.965.492a1.748 1.748 0 0 1 2.433 0c.671.657.671 1.721 0 2.377L5.054 12l9.344 9.13c.671.657.671 1.721 0 2.378a1.748 1.748 0 0 1-2.433 0l-10.56-10.32a1.656 1.656 0 0 1 0-2.376z'/%3E%3C/g%3E%3C/svg%3E");
 }

 .nextArrow {
     background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='24' viewBox='0 0 15 24'%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M13.595 10.812L3.035.492a1.748 1.748 0 0 0-2.433 0 1.654 1.654 0 0 0 0 2.377L9.946 12 .602 21.13a1.654 1.654 0 0 0 0 2.378c.672.656 1.76.656 2.433 0l10.56-10.32a1.656 1.656 0 0 0 0-2.376z'/%3E%3C/svg%3E");
 }

 .blackRightArrow {
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23000000' d='M11.06 22.12L17.167 16 11.06 9.88 12.94 8l8 8-8 8z'/%3E%3C/svg%3E%0A");
 }

 .grayRightArrow {
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23737373' d='M11.06 22.12L17.167 16 11.06 9.88 12.94 8l8 8-8 8z'/%3E%3C/svg%3E%0A");
 }

 .checkmark {
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle cx='24' cy='24' r='24' fill='%2304B119'/%3E%3Cpath fill='%23FFF' d='M31.97 20.56l-9.106 9.107a1.498 1.498 0 0 1-2.121 0l-3.804-3.802a1.501 1.501 0 0 1 2.121-2.122l2.743 2.743 8.046-8.046a1.498 1.498 0 0 1 2.121 0 1.498 1.498 0 0 1 0 2.12'/%3E%3C/g%3E%3C/svg%3E%0A");
 }

 .prevArrow {
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='24' viewBox='0 0 15 24'%3E%3Cg fill='%23FFF' fill-rule='nonzero'%3E%3Cpath d='M1.405 10.812L11.965.492a1.748 1.748 0 0 1 2.433 0c.671.657.671 1.721 0 2.377L5.054 12l9.344 9.13c.671.657.671 1.721 0 2.378a1.748 1.748 0 0 1-2.433 0l-10.56-10.32a1.656 1.656 0 0 1 0-2.376z'/%3E%3Cpath d='M1.405 10.812L11.965.492a1.748 1.748 0 0 1 2.433 0c.671.657.671 1.721 0 2.377L5.054 12l9.344 9.13c.671.657.671 1.721 0 2.378a1.748 1.748 0 0 1-2.433 0l-10.56-10.32a1.656 1.656 0 0 1 0-2.376z'/%3E%3C/g%3E%3C/svg%3E");
 }

 .nextArrow {
     background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='24' viewBox='0 0 15 24'%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M13.595 10.812L3.035.492a1.748 1.748 0 0 0-2.433 0 1.654 1.654 0 0 0 0 2.377L9.946 12 .602 21.13a1.654 1.654 0 0 0 0 2.378c.672.656 1.76.656 2.433 0l10.56-10.32a1.656 1.656 0 0 0 0-2.376z'/%3E%3C/svg%3E");
 }

 .close-cross {
     position: absolute;
     right: 16px;
     top: 31px;
     width: 24px;
     height: 24px;
     cursor: pointer;

     &:before,
     &:after {
         position: absolute;
         left: 50%;
         top: 0;
         content: ' ';
         height: calc(100% + 2px);
         width: 2px;
         background-color: #fff;
         transform-origin: 50% 50%;
     }

     &:before {
         transform: rotate(45deg);
     }

     &:after {
         transform: rotate(-45deg);
     }

     &--black {

         &:before,
         &:after {
             background-color: #000;
         }
     }
 }

 .link-arrow {
     padding-left: calc(24px + 52px);
     font-size: 20px;
     line-height: 1.4;
     position: relative;

     &:before {
         content: "";
         @extend .nextArrow;
         transform: rotate(90deg);
         width: 15px;
         height: 24px;
         position: absolute;
         left: 0;
         top: 0;
     }

     &:hover {}

     @include breakpoint(mobile) {
         padding-left: 0;
         text-align: center;
         border-radius: 5px;
         border: solid 1px #545454;
         height: 40px;
         font-size: 14px;
         line-height: 38px;
         display: inline-block;
         width: 200px;

         &:before {
             display: none;
         }
     }
 }

 .icon {
     display: inline-flex;
     width: 32px;
     height: 32px;
     align-items: center;
     justify-content: center;
     background-repeat: no-repeat;

     svg {
         max-width: 100%;
         max-height: 100%;
     }

     img {
         max-height: 100%;
         max-width: 100%;
     }
 }